#link {
  background-color: #87CEFA;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.formulario{
  text-align: center;
}
h1{
  text-align: center;
}

.botao{
  text-align: center;
   
}
